<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2><span jhiTranslate="mdApp.invoice.detail.title">Invoice</span> {{invoice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mdApp.invoice.invoiceNumber">Invoice Number</span></dt>
                <dd>
                    <span>{{invoice.invoiceNumber}}</span>
                </dd>
                <dt><span jhiTranslate="mdApp.invoice.invoiceDate">Invoice Date</span></dt>
                <dd>
                    <span>{{invoice.invoiceDate}}</span>
                </dd>
                <dt><span jhiTranslate="mdApp.invoice.customerName">Customer Name</span></dt>
                <dd>
                    <span>{{invoice.customerName}}</span>
                </dd>
                <dt><span jhiTranslate="mdApp.invoice.invoiceAmount">Invoice Amount</span></dt>
                <dd>
                    <span>{{invoice.invoiceAmount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice', invoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
    <div *ngIf="invoice">
        <jhi-invoice-line-item [invoice]='invoice'></jhi-invoice-line-item>
    </div>
</div>
